build/
codegen/
slprj/
figDir/
DataIn*/
DataOut*/
DataT*/
*.asv
*.csv
*.m~
*.txt

*.mexa64
*.mexmaci64
*.mexw32
*.mexw64
DataT2OLWFSim/
*.aux
*.bbl
*.bcf
*.blg
*.log
*.out
*.run.xml
*.xwm
*.synctex.gz
*.bak
*.dvi
*.nav
*.ps
*.snm
*.tcp
*.toc
*.tps
*.auxlock
*-eps-converted-to.pdf
misc/
notes/
papers/
thesis/